name: Build Cutter (Qt6)

env:
  TAG: "v2.4.1"

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build-linux-arm64:
    name: linux-arm64
    runs-on: ubuntu-24.04-arm

    steps:
    - name: Set timezone
      run: |
        export TZ=UTC
        sudo ln -snf /usr/share/zoneinfo/$TZ /etc/localtime
        echo $TZ | sudo tee /etc/timezone

    - name: Clone cutter repository (stable branch)
      run: |
        git clone --depth 1 --recursive --branch ${{ env.TAG }} https://github.com/rizinorg/cutter.git .
        
    - name: Fix git subprojects problems
      shell: bash
      run: |
        rm -rf build
        git submodule foreach --recursive git reset --hard
        git submodule foreach --recursive git clean -dxff

        cd rizin
        git clean -dxff subprojects/

    - name: Fix file options dialog height
      shell: bash
      run: |
        sed -i \
          -e '0,/<height>524<\/height>/s//<height>424<\/height>/' \
          -e '0,/<height>410<\/height>/s//<height>310<\/height>/' \
          -e 's/QLayout::SetMinimumSize/QLayout::SetDefaultConstraint/' \
            src/dialogs/InitialOptionsDialog.ui

    - name: Install build dependencies
      run: |
        sudo apt update

        # Add python ppa
        sudo apt install -y software-properties-common
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt update

        # Install build tools
        sudo apt install -y \
          build-essential \
          cmake \
          ninja-build \
          pkg-config \
          dpkg-dev \
          git \
          mesa-common-dev \
          libxkbcommon-x11-dev \
          curl \
          libpcre2-dev \
          libfuse2 \
          meson \
          libxerces-c-dev \
          libxkbcommon-dev

        # Install python 3.13
        sudo apt install -y \
          python3.13 \
          python3.13-dev \
          python3.13-venv
          #pyside6-tools \
          #libpyside6-dev \
          #shiboken6 \
          #libshiboken6-dev

        python3.13 -m venv ~/qt6env
        source ~/qt6env/bin/activate
        python -m pip install --upgrade pip setuptools wheel

        # Install Qt6
        #sudo apt install -y \
          #qt6-base-dev \
          #qt6-tools-dev \
          #qt6-base-dev-tools \
          #qt6-tools-dev-tools \
          #qt6-l10n-tools \
          #libqt6svg6-dev \
          #libqt6core5compat6-dev \
          #qt6-declarative-dev \
          #qml6-module-qtquick-controls

        # Install cutter dependencies 
        sudo apt install -y \
          libgraphviz-dev
          #libkf6syntaxhighlighting-dev

        sudo apt install -y \
          libegl1-mesa-dev \
          libgl1-mesa-dev \
          libgles2-mesa-dev \
          libxkbcommon-dev \
          libx11-dev \
          libwayland-dev
        
         sudo apt install libwayland-dev

    - name: Install Qt6 6.9
      shell: bash
      run: |
        source ~/qt6env/bin/activate
        pip install aqtinstall
        aqt install-qt linux_arm64 desktop 6.9.0 linux_gcc_arm64 \
          -O ~/qt -m qt5compat
        
        echo "QT_DIR=~/qt/6.9.0/gcc_arm64" >> $GITHUB_ENV

    #- name: Build and install pyside6 & shiboken6 for Qt6
      #shell: bash
      #run: |
        #export PATH=$QT_DIR/bin:$PATH
        #export LD_LIBRARY_PATH=$QT_DIR/lib:$LD_LIBRARY_PATH
        #source ~/qt6env/bin/activate

        #git clone https://code.qt.io/pyside/pyside-setup.git
        #cd pyside-setup
        #git checkout v6.9.0

        #python setup.py build
        #python setup.py install

    - name: Build and install KDE syntax highlighting for Qt6
      shell: bash
      run: |
        export PATH=$QT_DIR/bin:$PATH
        export LD_LIBRARY_PATH=$QT_DIR/lib:$LD_LIBRARY_PATH
        source ~/qt6env/bin/activate

        # Clone the ECM repository and build & install it
        git clone --depth 1 --branch v6.23.0 https://invent.kde.org/frameworks/extra-cmake-modules.git
        cd extra-cmake-modules
        cmake -B build -DCMAKE_PREFIX_PATH=$QT_DIR
        cmake --build build
        sudo cmake --install build

        # Clone Syntax Highlighting repository and build & install it
        git clone --depth 1 --branch v6.23.0 https://invent.kde.org/frameworks/syntax-highlighting.git
        cd syntax-highlighting
        cmake -B build -DCMAKE_PREFIX_PATH=$QT_DIR
        cmake --build build
        sudo cmake --install build

    - name: Configure & build Cutter
      shell: bash
      run: |
        export PATH=$QT_DIR/bin:$PATH
        export LD_LIBRARY_PATH=$QT_DIR/lib:$LD_LIBRARY_PATH 
        export Qt6_DIR=$QT_DIR
        export CMAKE_PREFIX_PATH=$QT_DIR
        export LANG=C.UTF-8
        export LC_ALL=C.UTF-8

        source ~/qt6env/bin/activate
        
        cmake -B build -G Ninja \
          -DPython3_EXECUTABLE=$(which python) \
          -DPython3_FIND_STRATEGY=LOCATION \
          -DCMAKE_PREFIX_PATH=$QT_DIR:$VIRTUAL_ENV/lib/python3.13/site-packages/PySide6:$VIRTUAL_ENV/lib/python3.13/site-packages/Shiboken6 \
          -DCMAKE_BUILD_TYPE=Release \
          -DCUTTER_QT=6 \
          -DCUTTER_USE_BUNDLED_RIZIN=ON \
          -DCUTTER_ENABLE_PYTHON=OFF \
          -DCUTTER_ENABLE_PYTHON_BINDINGS=OFF \
          -DCUTTER_ENABLE_GRAPHVIZ=ON \
          -DCUTTER_ENABLE_SIGDB=ON \
          -DCUTTER_ENABLE_PACKAGING=ON \
          -DCUTTER_ENABLE_DEPENDENCY_DOWNLOADS=ON \
          -DCUTTER_PACKAGE_RZ_GHIDRA=ON \
          -DCUTTER_PACKAGE_JSDEC=ON \
          -DCUTTER_PACKAGE_RZ_LIBSWIFT=ON \
          -DCUTTER_PACKAGE_RZ_LIBYARA=ON \
          -DCUTTER_PACKAGE_RZ_SILHOUETTE=ON \
          -DCMAKE_INSTALL_PREFIX=appdir/usr \
          -DCMAKE_INSTALL_LIBDIR=lib/$(dpkg-architecture -qDEB_HOST_MULTIARCH) \
          -DCMAKE_INSTALL_RPATH='$ORIGIN/../lib/$(dpkg-architecture -qDEB_HOST_MULTIARCH)' \
          -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=ON \
          -DCPACK_DEBIAN_PACKAGE_SHLIBDEPS=ON

        cd build
        ninja
        ninja install

    - name: Build DEB package
      shell: bash
      run: |
        APP_PREFIX=`pwd`/appdir/usr
        export PATH=$QT_DIR/bin:${APP_PREFIX}/bin:$PATH
        export LD_LIBRARY_PATH=$QT_DIR/lib:${APP_PREFIX}/lib:${APP_PREFIX}/lib/rizin/plugins:$LD_LIBRARY_PATH 
        export PKG_CONFIG_PATH=${APP_PREFIX}/lib/pkgconfig:$PKG_CONFIG_PATH 
        export Qt6_DIR=$QT_DIR
        export CMAKE_PREFIX_PATH=$QT_DIR:${APP_PREFIX}/lib/cmake
        export LANG=C.UTF-8
        export LC_ALL=C.UTF-8
        
        source ~/qt6env/bin/activate
        
        cd build

        cpack -G DEB \
          -D CPACK_PACKAGE_CONTACT="RizinOrg <info@rizin.re>" \
          -D CPACK_DEBIAN_PACKAGE_HOMEPAGE="https://cutter.re" \
          -D CPACK_PACKAGE_DESCRIPTION_SUMMARY="GUI for rizin reverse engineering framework" \
          -D CPACK_DEBIAN_PACKAGE_DESCRIPTION="Cutter is a Qt based GUI for reverse engineering binaries, which makes
         use of the rizin framework. Advanced users are expected to use the
         rizin CLI tools instead, which are much more powerful."
        
        DEB_FILE=$(ls *.deb | head -n1)
        echo "DEB_NAME=$DEB_FILE" >> $GITHUB_ENV

    - uses: actions/upload-artifact@v4
      with:
        name: linux-arm64-artifacts
        path: |
          build/*.deb

    - name: Upload release assets
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release.outputs.upload_url }}
        asset_path: build/${{ env.PACKAGE_NAME }}
        asset_name: ${{ env.PACKAGE_NAME }}
        asset_content_type: ${{ env.UPLOAD_ASSET_TYPE }}