name: Build Cutter (Qt5)

env:
  TAG: "v2.4.1"

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build-linux-arm64:
    name: linux-arm64
    runs-on: ubuntu-24.04-arm

    steps:
    - name: Set timezone
      run: |
        export TZ=UTC
        sudo ln -snf /usr/share/zoneinfo/$TZ /etc/localtime
        echo $TZ | sudo tee /etc/timezone

    - name: Clone cutter repository (stable branch)
      run: |
        git clone --recursive --branch ${{ env.TAG }} https://github.com/rizinorg/cutter.git .

    - name: Install build dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential \
          cmake \
          ninja-build \
          pkg-config \
          dpkg-dev \
          git \
          python3 \
          python3-dev \
          python3-pip \
          mesa-common-dev \
          libxkbcommon-x11-dev \
          curl \
          libpcre2-dev \
          libfuse2 \
          meson \
          libgraphviz-dev \
          qttools5-dev \
          qtbase5-dev \
          qttools5-dev-tools \
          libqt5svg5-dev \
          libkf5syntaxhighlighting-dev \
          pyside2-tools \
          shiboken2

    - name: Configure & build Cutter
      shell: bash
      run: |
        export LANG=C.UTF-8
        export LC_ALL=C.UTF-8
        mkdir build
        cd build

        cmake -G Ninja \
          -DCMAKE_BUILD_TYPE=Release \
          -DCUTTER_QT=5 \
          -DCUTTER_USE_BUNDLED_RIZIN=ON \
          -DCUTTER_ENABLE_PYTHON=ON \
          -DCUTTER_ENABLE_PYTHON_BINDINGS=ON \
          -DCUTTER_ENABLE_GRAPHVIZ=ON \
          -DCUTTER_ENABLE_SIGDB=ON \
          -DCUTTER_ENABLE_PACKAGING=ON \
          -DCUTTER_ENABLE_DEPENDENCY_DOWNLOADS=ON \
          -DCUTTER_PACKAGE_RZ_GHIDRA=ON \
          -DCUTTER_PACKAGE_JSDEC=ON \
          -DCUTTER_PACKAGE_RZ_LIBSWIFT=ON \
          -DCUTTER_PACKAGE_RZ_LIBYARA=ON \
          -DCUTTER_PACKAGE_RZ_SILHOUETTE=ON \
          -DCMAKE_INSTALL_PREFIX=/usr \
          -DCMAKE_INSTALL_LIBDIR=lib/$(dpkg-architecture -qDEB_HOST_MULTIARCH) \
          -DCMAKE_INSTALL_RPATH='$ORIGIN/../lib/$(dpkg-architecture -qDEB_HOST_MULTIARCH)' \
          -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=ON
          ..

        ninja
        ninja install

    # -------------------------
    # DEB package
    # -------------------------
    - name: Build DEB package
      shell: bash
      run: |
        cd build

        cpack -G DEB \
          -D CPACK_PACKAGE_CONTACT="RizinOrg <info@rizin.re>" \
          -D CPACK_DEBIAN_PACKAGE_HOMEPAGE="https://cutter.re" \
          -D CPACK_PACKAGE_DESCRIPTION_SUMMARY="GUI for rizin reverse engineering framework" \
          -D CPACK_DEBIAN_PACKAGE_DESCRIPTION="Cutter is a Qt based GUI for reverse engineering binaries, which makes
         use of the rizin framework. Advanced users are expected to use the
         rizin CLI tools instead, which are much more powerful."
        
        DEB_FILE=$(ls *.deb | head -n1)
        echo "DEB_NAME=$DEB_FILE" >> $GITHUB_ENV

    - uses: actions/upload-artifact@v4
      with:
        name: linux-arm64-artifacts
        path: |
          build/*.deb

    - name: Upload release assets
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release.outputs.upload_url }}
        asset_path: build/${{ env.PACKAGE_NAME }}
        asset_name: ${{ env.PACKAGE_NAME }}
        asset_content_type: ${{ env.UPLOAD_ASSET_TYPE }}